xml/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="college">

<xs:complexType>
<xs:sequence>
<xs:element name="student">
<xs:element name="name" type="xs:string"/>
<xs:element name="address" type="xs:string"/>

</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType>
<xs:sequence>
<xs:element name="subject">
<xs:element name="Bca" type="xs:string"/>
<xs:element name="Bit" type="xs:string"/>

</xs:element>
</xs:sequence>
</xs:complexType>


</xs:element>
</xs:schema>