Labsheet2023/Bankdtd.xml

<!ELEMENT bank (customers, accounts, employees)>

<!ELEMENT customers (customer+)>
<!ELEMENT customer (customerId, name, address)>
<!ELEMENT customerId (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>


<!ELEMENT accounts (account+)>
<!ELEMENT account (accountId, branchId, customerId, accountType, balance)>
<!ELEMENT accountId (#PCDATA)>
<!ELEMENT branchId (#PCDATA)>
<!ELEMENT customerId (#PCDATA)>
<!ELEMENT accountType (#PCDATA)>
<!ELEMENT balance (#PCDATA)>


<!ELEMENT employees (employee+)>
<!ELEMENT employee (empId, name, designation, DOJ, salary, address)>
<!ELEMENT empId (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT designation (#PCDATA)>
<!ELEMENT DOJ (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT address (#PCDATA)>